@section head{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
}
<div id="OnTime" class="row">
    <div class="col-md-3">
        <p>
            &nbsp;
        </p>
        <ul class="list-unstyled">
            <li><a href="#" v-on:click="refresh('backlog')">Backlog</a></li>
            <li><a href="#" v-on:click="refresh('today')">Today</a></li>
            <li><a href="#" v-on:click="refresh('next')">Next 7 days</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <form v-on:submit="addTask()" class="form-inline">
            <input type="text" class="form-control" v-model="taskName" size="30" placeholder="add new task here">
            <input class="btn btn-primary" type="submit" value="add">
        </form>
        <h2>{{viewType}}</h2>
        <ul class="list-unstyled">
            <li v-for="task in tasks">
                <div v-if="task.edit === false">
                    <input type="checkbox" v-model="task.done" v-on:change="markTaskAsComplete(task)" :value="task" /> <span v-on:click="editTask(task)">{{task.name}}</span>
                </div>
                <div v-else>
                    <div class="row">
                        <textarea v-model="task.name" class="form-control" v-on:keyup.enter="updateTask(task)" v-on:keyup.esc="cancelEdit(task)"></textarea>
                    </div>
                    <div class="row form-inline">
                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" v-on:click="cancelTask(task)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                            <button class="btn" v-on:click="updateTask(task)">Save</button> <button class="btn" v-on:click="cancelEdit(task)">Cancel</button>
                            <input type="text" class="form-control" v-model="task.jobOrderId" />
                            <select v-model="task.priority">
                                <!option v-for="option in priorityOptions" v-bind:value="option">{{ option }}</!option>
                            </select>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#OnTime',
        data: {
            viewType: '',
            taskName: '',
            priorityOptions: [],
            tasks: [],
            originalTask: {}
        },
        mounted: function() {
            $.get('/ontime/task/priorityoptions', function (data) {
                    app.priorityOptions = data;
                });
            this.refresh('today');
        },
        methods: {
            editTask: function (task) {              
                this.tasks.forEach((item) => { if (item.edit) this.cancelEdit(item); });
                this.originalTask = Object.assign({}, task);
                task.edit = true;
            },
            cancelEdit: function (task) {
                Object.assign(task, this.originalTask);               
                task.edit = false;
                this.originalTask = null;
            },
            addTask: function() {
                if (this.taskName) {
                    $.post('/ontime/task/add', { name: this.taskName })
                        .success(function(data) {
                            var task = { taskId: data, name: app.taskName, done: false, edit: false, priority: 0 };
                            app.tasks.push(task);   
                            app.taskName = '';
                        })
                        .fail(function () {
                            alert("Couldn't add the task, retry later.");
                        });
                }
                return false;
            },
            cancelTask: function (task) {
                var url = '/ontime/task/cancel/' + task.taskId;
                $.get(url, function (data) {
                    var index = app.tasks.indexOf(task);
                    app.tasks.splice(index, 1);
                })
                .fail(function () {
                    alert("Can't cancel the task, retry later.");
                });
            },
            updateTask: function (task) {
                var url = '/ontime/task/update/' + task.taskId;
                var model = { taskId: task.taskId, name: task.name, priority: task.priority, jobOrderId: task.jobOrderId };
                $.post(url, model)
                    .done(function () {
                        task.edit = false;
                    })
                    .fail(function () {
                        alert("Can't update the task, retry later.");
                    });
            },     
            markTaskAsComplete: function (task) {
                var url = '/ontime/task/markascomplete/' + task.taskId;
                $.get(url, function (data) {
                    var index = app.tasks.indexOf(task);
                    app.tasks.splice(index, 1);
                })
                .fail(function() {
                    alert("Can't mark task as complete, retry later.");
                });
            },
            refresh: function (viewType) {
                var url = '';
                switch (viewType) {
                    case 'backlog':
                        url = '/ontime/task/backlog';
                        this.viewType = 'Backlog';
                        break;
                    case 'next':
                        url = '/ontime/task/nextsevendays';
                        this.viewType = 'Next 7 days';
                        break;
                    case 'today':
                        url = '/ontime/task/today';
                        this.viewType = 'Today';
                        break;
                }         
                $.getJSON(url, function (data) {
                    app.tasks = data.map((item, index) => {
                        return {
                            taskId: item.taskId,
                            name: item.name,
                            done: item.done,
                            edit: false,
                            priority: item.priority
                        };
                    });
                });
            }
        }
    });
</script>
