@section head{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
}
<div id="OnTime" class="row">
    <div class="col-md-3">
        <p>
            &nbsp;
        </p>
        <ul class="list-unstyled">
            <li><a href="#" v-on:click="refresh('backlog')">Backlog</a></li>
            <li><a href="#" v-on:click="refresh('today')">Today</a></li>
            <li><a href="#" v-on:click="refresh('next')">Next 7 days</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <form v-on:submit="addTask()" class="form-inline">
            <input type="text" class="form-control" v-model="taskText" size="30" placeholder="add new task here">
            <input class="btn btn-primary" type="submit" value="add">
        </form>
        <h2>{{viewType}}</h2>
        <ul class="list-unstyled">
            <li v-for="task in tasks">
                <div v-if="task.edit === false">
                    <input type="checkbox" v-model="task.done" v-on:change="markTaskAsComplete(task)" :value="task" /> <span v-on:click="editTask(task)">{{task.text}}</span>
                </div>
                <div v-else>
                    <div class="row">
                        <input type="text" v-model="task.text" class="form-control"  />
                    </div>
                    <div class="row form-inline">
                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" v-on:click="cancelTask(task)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                            <button class="btn" v-on:click="updateTask(task)">Save</button> <button class="btn" v-on:click="cancelEdit(task)">Cancel</button>
                            <input type="text" class="form-control" v-model="task.jobOrderId" />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#OnTime',
        data: {
            viewType: '',
            taskText: '',
            tasks: []
        },
        mounted: function() {
            this.refresh('today');
        },
        methods: {
            editTask: function (task) {
                this.tasks.forEach((item) => item.edit = false);
                task.edit = true;
            },
            cancelEdit: function (task) {
                task.edit = false;
            },
            addTask: function() {
                if (this.taskText) {
                    $.put('/ontime/task/add', { text: this.taskText });
                    this.taskText = '';
                    this.refresh(this.viewType);
                }
                return false;
            },
            cancelTask: function (task) {
                var url = '/ontime/task/cancel/' + task.taskId;
                $.get(url, function (data) {
                    var index = app.tasks.indexOf(task);
                    app.tasks.splice(index, 1);
                })
                .fail(function () {
                    alert("Can't delete the task, retry later.");
                });
            },
            updateTask: function (task) {
                var url = '/ontime/task/update/' + task.taskId;
                $.post(url, { text: task.text })
                    .done(function () {
                        task.edit = false;
                    })
                    .fail(function () {
                        alert("Can't update the task, retry later.");
                    });
            },     
            markTaskAsComplete: function (task) {
                var url = '/ontime/task/markascomplete/' + task.taskId;
                $.get(url, function (data) {
                    var index = app.tasks.indexOf(task);
                    app.tasks.splice(index, 1);
                })
                .fail(function() {
                    alert("Can't mark task as complete, retry later.");
                });
            },
            refresh: function (viewType) {
                var url = '';
                switch (viewType) {
                    case 'backlog':
                        url = '/ontime/task/backlog';
                        this.viewType = 'Backlog';
                        break;
                    case 'next':
                        url = '/ontime/task/nextsevendays';
                        this.viewType = 'Next 7 days';
                        break;
                    case 'today':
                        url = '/ontime/task/today';
                        this.viewType = 'Today';
                        break;
                }         
                $.getJSON(url, function (data) {
                    app.tasks = data.map((item, index) => {
                        return {
                            taskId: item.taskId,
                            text: item.text,
                            done: item.done,
                            edit: false
                        };
                    });
                });
            }
        }
    });
</script>
