@model Merp.Web.Site.Areas.Registry.Models.PartyInfo

<input asp-for="Id" onblur="" />
<input asp-for="OriginalId" type="hidden" />
<input asp-for="Name" />
<span asp-validation-for="Id" class="text-danger"></span>
<span asp-validation-for="Name" class="text-danger"></span>
<script type="text/javascript">
    @{
        var idTextBoxName = ViewData.TemplateInfo.GetFullHtmlFieldName("Id").Replace(".", "_");
        var originalIdTextBoxName = ViewData.TemplateInfo.GetFullHtmlFieldName("OriginalId").Replace(".", "_");
        var partyNameTextBoxName = ViewData.TemplateInfo.GetFullHtmlFieldName("Name").Replace(".", "_");
    }
    $(function () {
        var txtId = $("#@idTextBoxName")[0];
        var txtOriginalId = $("#@originalIdTextBoxName")[0];
        var txtPartyName = $("#@partyNameTextBoxName")[0];
        txtId.onblur = function()
        {
            if (txtId.value != '')
            {
                $.get("/Registry/Api/GetPartyInfoById/" + txtId.value, function (data) {
                    if (data === 'undefined') {
                        alert('Unknown code');
                        txtOriginalId.value = '';
                        txtPartyName.value = '';
                    }
                    else {
                        txtOriginalId.value = data.originalId;
                        txtPartyName.value = data.name;
                    }
                })
                .fail(function () {
                    alert('Unknown code');
                    txtOriginalId.value = '';
                    txtPartyName.value = '';
                }
                );
            }

        }
        $("#@partyNameTextBoxName").autocomplete({
            source:
                function (request, response) {
                    $.ajax({
                        url: "/Registry/Api/GetPartyInfoByPattern?text=" + txtPartyName.value,
                        dataType: "json",
                        data: {
                            searchPattern: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.name,
                                    value: item.name,
                                    id: item.id,
                                    originalId: item.originalId
                                }
                            }));
                        }
                    });
                },
            minLength: 2,
            select: function (event, ui) {
                txtId.value = ui.item.id;
                txtOriginalId.value = ui.item.originalId;
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });
    });
</script>

