@{
    ViewBag.Title = "Registry";
}

<h2>Registry</h2>
<hr />

<ul class="list-unstyled">
  <li><a href="@UrlBuilder.Registry.Search()">Find an item</a></li>
  <li><a href="@UrlBuilder.Registry.CompanyAddEntry()">Register a company</a></li>
  <li><a href="@UrlBuilder.Registry.PersonAddEntry()">Register a person</a></li>
</ul>