@model Merp.Web.Site.Areas.Registry.Models.Person.AddEntryViewModel
@{
    ViewBag.Title = "Person Registration";
}
<h2>Person Registration</h2>
<hr />
<div class="row">  
  
  <vc:add-entry model="@Model" mode="default" field-prefix=""></vc:add-entry>
    
</div>
<div class="row">
  <a href="/Registry">Back</a>
</div>
@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
  @{ await Html.RenderPartialAsync("_JqueryValidationBootstrapPartial"); } 
} 