@model Merp.Web.Site.Areas.Registry.Models.Person.AddEntryViewModel

@{
    ViewBag.Title = "View";
}
<h2>Register Person</h2>
<form asp-action="AddEntry">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @*<h4>AddEntryViewModel</h4>*@
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NationalIdentificationNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NationalIdentificationNumber" class="form-control" />
                <span asp-validation-for="NationalIdentificationNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VatNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VatNumber" class="form-control" />
                <span asp-validation-for="VatNumber" class="text-danger"></span>
            </div>
        </div>
        @Html.EditorFor(m => m.Address)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a href="/Registry">Back</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
