<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://merpwebsite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework>net461</PublishFramework>
    <UsePowerShell>True</UsePowerShell>
    <EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>
    <MSDeployServiceURL>merpwebsite.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MerpWebSite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MerpWebSite</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Merp-Registry-ReadModel" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Merp.Registry.QueryStack.RegistryDbContext, Merp.Registry.QueryStack" MigrationConfiguration="Merp.Registry.QueryStack.Migrations.Configuration, Merp.Registry.QueryStack" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OnTime-TaskManagement-ReadModel" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OnTime.TaskManagement.QueryStack.TaskManagementDbContext, OnTime.TaskManagement.QueryStack" MigrationConfiguration="OnTime.TaskManagement.QueryStack.Migrations.Configuration, OnTime.TaskManagement.QueryStack" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Merp-Accountancy-ReadModel" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Merp.Accountancy.QueryStack.AccountancyContext, Merp.Accountancy.QueryStack" MigrationConfiguration="Merp.Accountancy.QueryStack.Migrations.Configuration, Merp.Accountancy.QueryStack" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Merp-TimeTracking-ReadModel" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Merp.TimeTracking.QueryStack.TimeTrackingDbContext, Merp.TimeTracking.QueryStack" MigrationConfiguration="Merp.TimeTracking.QueryStack.Migrations.Configuration, Merp.TimeTracking.QueryStack" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ProjectGuid>21c1ae34-da48-408e-8b99-5dcdc449ab84</ProjectGuid>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Merp-Accountancy-ReadModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Merp-Registry-ReadModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Merp-TimeTracking-ReadModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OnTime-TaskManagement-ReadModel-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Merp-Accountancy-ReadModel" />
    <_ConnectionStringsToInsert Include="Merp-Registry-ReadModel" />
    <_ConnectionStringsToInsert Include="Merp-TimeTracking-ReadModel" />
    <_ConnectionStringsToInsert Include="OnTime-TaskManagement-ReadModel" />
  </ItemGroup>
</Project>