@{
    ViewBag.Title = "Search";
}
<h2>Search</h2>
<hr />

<div data-ng-app="partySearchTool" data-ng-controller="partySearchToolController">

    <div class="row">
        <form id="search-form" role="form" data-ng-submit="refreshParties()">
            <div>
                <div class="col-md-4">
                    <div class="input-group form-group">
                        <label class="input-group-addon" for="partyType">Type</label>
                        <select id="partyType" class="form-control" ng-model="partyType" ng-options="partyType.label for partyType in partyTypes track by partyType.value"></select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group form-group">
                        <label class="input-group-addon" for="query">Name</label>
                        <input type="search" id="query" data-ng-model="query" class="form-control" placeholder="Party name...">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group form-group">
                        <label class="input-group-addon" for="sort">Sort</label>
                        <select id="sort" class="form-control" ng-model="ordering" ng-options="ordering.label for ordering in orderings track by ordering.value"></select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group form-group">
                        <label class="input-group-addon" for="city">City</label>
                        <input type="search" id="city" data-ng-model="city" class="form-control" placeholder="City name...">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group form-group">
                        <label class="input-group-addon" for="city">Postal code</label>
                        <input type="search" id="postalCode" data-ng-model="postalCode" class="form-control" placeholder="Postal code...">
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                        Search
                    </button>
                </div>
                <div class="col-md-6">
                    <div class="btn-group pull-right" role="group">
                        <a href="@UrlBuilder.Registry.CompanyAddEntry()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Company</a>
                        <a href="@UrlBuilder.Registry.PersonAddEntry()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Person</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-cloak>
        <div class="col-md-12">
            <p ng-show="parties.length" ng-cloak>{{parties.length}} items of <span class="badge">{{totalNumberOfItems}}</span></p>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>National Identification Number</th>
                    <th>VAT Number</th>
                    <th>Phone #</th>
                    <th>&nbsp;</th>
                </tr>
                <tr data-ng-repeat="party in parties">
                    <td><a href="/Registry/Party/Detail/{{party.uid}}">{{party.name}}</a></td>
                    <td>{{party.nationalIdentificationNumber}}</td>
                    <td>{{party.vatIndex}}</td>
                    <td><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{party.phoneNumber}}</td>
                    <td><button type="button" ng-click="unlistParty(party, $index)" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
            </table>
            <div class="btn-toolbar" role="toolbar" aria-label="party-pagination" ng-show="pages.length && pages.length > 1" ng-cloak>
                <div class="btn-group">
                    <button class="btn" data-ng-repeat="pageNr in pages" data-ng-click="applyPage(pageNr)" data-ng-class="{'btn-default': pageNr!==page, 'btn-primary': pageNr===page}">{{ pageNr }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @{ await Html.RenderPartialAsync("_JqueryUIPartial"); }
    <script type="text/javascript">
        (function () {
            var partySearchTool = angular.module('partySearchTool', []);
        }());
        (function (module) {
            var partySearchToolController = function ($scope, $http) {
                $scope.query = '';
                $scope.city = '';
                $scope.postalCode = '';
                $scope.partyTypes = [
                    { label: 'Any', value: '' },
                    { label: 'Person', value: 'person' },
                    { label: 'Company', value: 'company' }
                ];
                $scope.partyType = $scope.partyTypes[0];
                $scope.orderings = [
                    { label: 'Alphabetical (ascending)', value: '+name', orderBy: 'name', orderDirection: 'asc' },
                    { label: 'Alphabetical (descending)', value: '-name', orderBy: 'name', orderDirection: 'desc' }
                ];
                $scope.ordering = $scope.orderings[0];

                $scope.page = 1;
                $scope.size = 20;
                $scope.pages = [];
                $scope.totalNumberOfItems = 0;

                var _buildPagination = function (size, total) {
                    size = parseInt(size, 10);
                    total = parseInt(total, 10);

                    $scope.pages = [];
                    $scope.totalNumberOfItems = total;
                    var numberOfPages = Math.ceil((total / size));
                    for (var i = 1; i <= numberOfPages; i++) {
                        $scope.pages.push(i);
                    }
                };

                $scope.applyPage = function (page) {
                    $scope.page = page || 1;
                    $scope.refreshParties();
                };

                $scope.refreshParties = function () {
                    var url = '/Registry/Party/GetParties';
                    var params = {
                        query: $scope.query,
                        partyType: $scope.partyType.value,
                        city: $scope.city,
                        postalCode: $scope.postalCode,
                        orderBy: $scope.ordering.orderBy,
                        orderDirection: $scope.ordering.orderDirection,
                        page: $scope.page,
                        size: $scope.size
                    };
                    $http.get(url, { params: params })
                        .then(
                            function (data) {
                                _buildPagination(data.headers('size'), data.headers('total'));
                                $scope.parties = data.data;
                            },
                            function (data) { })
                }

                $scope.unlistParty = function (party, index) {
                    var url = '/Registry/Party/Unlist/' + party.uid;
                    if (confirm('You are going to delete the party ' + party.name + '. Are you sure?')) {
                        $http
                            .post(url, {})
                            .then(function (response) {
                                $scope.parties.splice(index, 1);
                            }, function (response) {
                                console.log(response);
                            });
                    }
                }

                $scope.refreshParties();
            }
            module.controller('partySearchToolController', ['$scope', '$http', partySearchToolController]);
        }(angular.module('partySearchTool')))
    </script>
    <script type="text/javascript">
        $(function () {
            $('#query').autocomplete({
                minLength: 2,
                delay: 500,
                autoFocus: true,
                source: function (request, response) {
                    $.ajax({
                        url: "/Registry/Api/GetPartyInfoByPattern",
                        dataType: "json",
                        data: {
                            text: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.name,
                                    value: item.name,
                                    originalId: item.originalId
                                }
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    var url = '/Registry/Party/Detail/' + ui.item.originalId;
                    $(location).attr('href', url);
                }
            });
            $('#search-form').on('submit', function () {
                $("#query").autocomplete("close");
            });
        });
    </script>
}
@section head {
    <environment names="Development">
        <link type="text/css" rel="stylesheet" href="~/lib/jquery-ui/themes/smoothness/jquery-ui.css" />
    </environment>
    <environment names="Staging,Production,OnPremises,AzureCosmosDB,AzureMongoDB,AzureCloudServices">
        <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/themes/smoothness/jquery-ui.css"
              asp-fallback-href="~/lib/jquery-ui/themes/smoothness/jquery-ui.css"
              asp-fallback-test-class="ui-helper-hidden" asp-fallback-test-property="display" asp-fallback-test-value="hidden" />
    </environment>
}
