@model Merp.Web.Site.Areas.Accountancy.Models.Invoice.RegisterViewModel

@{
    ViewBag.Title = "Issue";
}

<h2>Issue</h2>

<form method="post">

    <div class="form-horizontal">
        <h4>IssueViewModel</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Supplier" class="control-label col-md-2"></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Supplier, new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="Supplier" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="InvoiceNumber" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="InvoiceNumber" class="form-control" />
                <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Date" class="control-label col-md-2"></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DueDate" class="control-label col-md-2"></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Currency" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Amount" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Taxes" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Taxes" class="form-control" />
                <span asp-validation-for="Taxes" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TotalPrice" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PurchaseOrderNumber" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="PurchaseOrderNumber" class="form-control" />
                <span asp-validation-for="PurchaseOrderNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PaymentTerms" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="PaymentTerms" class="form-control" />
                <span asp-validation-for="PaymentTerms" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
@section head {
    <environment names="Development">
        <link type="text/css" rel="stylesheet" href="~/lib/jquery-ui/themes/smoothness/jquery-ui.css" />
    </environment>
    <environment names="Staging,Production,OnPremises,AzureCosmosDB,AzureMongoDB,AzureCloudServices">
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/themes/smoothness/jquery-ui.css"
                asp-fallback-src="~/lib/jquery-ui/themes/smoothness/jquery-ui.css"
                asp-fallback-test="window.jQuery">
        </script>
    </environment>
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_JqueryValidationBootstrapPartial"); }
    @{ await Html.RenderPartialAsync("_JqueryUIPartial"); }
}
