@model Merp.Web.Site.Areas.Accountancy.Models.Invoice.SearchViewModel
<script>
    (function () {
        var homePageApp = angular.module('InvoiceArchive', []);
    }());
    (function (module) {
        var invoiceController = function ($scope, $http) {
            $scope.refreshInvoiceList = function () {
                var url = '/Accountancy/Invoice/Search_GetInvoiceList?status=' + $scope.status + '&kind=' + $scope.kind;
                //$scope.invoices = [];
                //if ($scope.jobOrderName)
                //    url += '&jobOrderName=' + $scope.jobOrderName;
                $http.get(url)
                    .then(
                        function (data) {
                            $scope.invoices = data.data.invoices;
                        },
                        function (data) {
                            console.log('some error happened.');
                        }
                    );
            }
        };
        module.controller('invoiceController', ['$scope', '$http', invoiceController]);
    }(angular.module('InvoiceArchive')))
</script>

<div class="row" data-ng-app="InvoiceArchive" data-ng-controller="invoiceController">
    <div class="row">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dateFrom" class="control-label col-md-2">Date from:</label>
                        <div class="col-md-10">
                            <input type="date" id="dateFrom" name="dateFrom" data-ng-model="dateFrom" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dateTo" class="control-label col-md-2">Date to:</label>
                        <div class="col-md-10">
                            <input type="date" id="dateTo" name="dateTo" data-ng-model="dateTo" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Supplier" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Supplier, new { htmlAttributes = new { @class = "form-control" } })
                            <span asp-validation-for="Supplier" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Customer" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control" } })
                            <span asp-validation-for="Customer" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="kind" class="control-label col-md-2">Kind:</label>
                <div class="col-md-10">
                    <select id="kind" name="kind" asp-items="Html.GetEnumSelectList<Merp.Web.Site.Areas.Accountancy.Models.Invoice.SearchViewModel.InvoiceKind>()" data-ng-model="kind" class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="outstanding" class="control-label col-md-2">Status:</label>
                <div class="col-md-10">
                    <select id="status" name="status" asp-items="Html.GetEnumSelectList<Merp.Web.Site.Areas.Accountancy.Models.Invoice.SearchViewModel.InvoiceStatus>()" data-ng-model="status" class="form-control">
                        <option value="any" selected>Any</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <button class="btn" data-ng-click="refreshInvoiceList()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Document type</th>
                <th>Date of issue</th>
                <th>Due date</th>
                <th>Supplier</th>
                <th>Customer</th>
                <th>Invoice #</th>
                <th>Price</th>
            </tr>
            <tr data-ng-repeat="invoice in invoices">
                <td>{{invoice.documentType}}</td>
                <td>{{invoice.date | date:'dd/MM/yyyy'}}</td>
                <td>{{invoice.dueDate | date:'dd/MM/yyyy'}}</td>
                <td>{{invoice.supplierName}}</td>
                <td>{{invoice.customerName}}</td>
                <td>{{invoice.number}}</td>
                <td>{{invoice.currency}} {{invoice.totalPrice | number : 2}}</td>
            </tr>
        </table>
    </div>
</div>
@section head {
    <environment names="Development">
        <link type="text/css" rel="stylesheet" href="~/lib/jquery-ui/themes/smoothness/jquery-ui.css" />
    </environment>
    <environment names="Staging,Production,OnPremises,AzureCosmosDB,AzureMongoDB">
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/themes/smoothness/jquery-ui.css"
                asp-fallback-src="~/lib/jquery-ui/themes/smoothness/jquery-ui.css"
                asp-fallback-test="window.jQuery">
        </script>
    </environment>
}
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_JqueryValidationBootstrapPartial"); }
    @{ await Html.RenderPartialAsync("_JqueryUIPartial"); }
}
