<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="Merp-Accountancy-ReadModel" connectionString="Server=.\SQLEXPRESS;Database=Merp;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="Merp-Registry-ReadModel" connectionString="Server=.\SQLEXPRESS;Database=Merp;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>
