<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>   
    <!-- Development -->
    <add name="DefaultConnection" connectionString="Server=.\SQLEXPRESS;Database=Merp-Accountancy-ReadModel;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />   
    <add name="Merp-Accountancy-ReadModel" connectionString="Server=.\SQLEXPRESS;Database=Merp-Accountancy-ReadModel;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="Merp-Registry-ReadModel" connectionString="Server=.\SQLEXPRESS;Database=Merp-Registry-ReadModel;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="Merp-TaskManagement-ReadModel" connectionString="Server=.\SQLEXPRESS;Database=Merp-TaskManagement-ReadModel;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="Merp-TimeTracking-ReadModel" connectionString="Server=.\SQLEXPRESS;Database=Merp-TimeTracking-ReadModel;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="checkVatBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ec.europa.eu/taxation_customs/vies/services/checkVatService"
          binding="basicHttpBinding" bindingConfiguration="checkVatBinding"
          contract="Vies.checkVatPortType" name="checkVatPort" />
    </client>
  </system.serviceModel>  
</configuration>
