<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <!--<connectionStrings>
    <add name="Merp" connectionString="Server=Server=knox.manageddesigns.it;Database=Merp;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="EventStore" connectionString="mongodb://mongodbdev01.manageddesigns.it,mongodbdev02.manageddesigns.it,mongodbdev03.manageddesigns.it/Merp-ES?replicaSet=devrs" />
    <add name="Merp-TimeTracking-ReadModel" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Merp;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
