@{
    ViewData["Title"] = "About";
}
<h2>MERP</h2>
<h3>Micro ERP</h3>

<p>
    An event-based Micro ERP, developed by <a href="https://twitter.com/andysal74">Andrea Saltarello</a>  using ASP.NET Core 2.0
</p>
