
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul class="list-unstyled">
    <li>@Html.ActionLink("Find an item", "Search", "Party")</li>
    <li>@Html.ActionLink("Register a company", "AddEntry", "Company")</li>
    <li>@Html.ActionLink("Register a person", "AddEntry", "Person")</li>
</ul>

