@model Merp.Web.Site.Areas.Registry.ViewComponents.Person.LookupPersonInfoByViesViewComponent.ViewModel
@{
    var viesModalId = ViewData.TemplateInfo.HtmlFieldPrefix;
    var url = Url.Action("LookupPersonInfoByViesService", "Api", new { area = "Registry" });
    var vatNumberFieldId = ViewData.TemplateInfo.GetFullHtmlFieldName(nameof(Model.VatNumber)).Replace(".", "_");
    var countryCodeFieldId = ViewData.TemplateInfo.GetFullHtmlFieldName(nameof(Model.CountryCode)).Replace(".", "_");
    var personInformationFoundEvent = "vies_person_information_found";
}
<style type="text/css">
    .glyphicon-spin-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @@-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }

        to {
            transform: scale(1) rotate(360deg);
        }
    }
</style>
<div class="modal fade" id="@viesModalId" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Search VIES</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="get" action="@url">
                    <div class="form-group">
                        <label asp-for="CountryCode" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="CountryCode" asp-items="@(new SelectList(Model.Countries, "Code","DisplayName"))" class="form-control"></select>
                            <span asp-validation-for="CountryCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="VatNumber" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="VatNumber" class="form-control">
                            <span asp-validation-for="VatNumber" class="text-danger"></span>
                        </div>
                    </div>
                </form>
                <div class="alert alert-danger alert-dismissible fade in" data-status="default" style="display: none" role="alert">
                    <h4>Error: VIES temporarily unavailable</h4>
                </div>
                <div class="alert alert-danger alert-dismissible fade in" data-status="404" style="display: none" role="alert">
                    <h4>Error: Person not found</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
  //# sourceURL=Views/Shared/Components/LookupPersonInfoByVies/Default.js
  (function ($) {

      var viesModal = $('#@viesModalId'),
        searchForm = $('.modal-body form', viesModal),
        searchButton = $('.modal-footer .btn-primary', viesModal),
        searchIcon = $('.glyphicon', searchButton),
        alertBox = {
          'default': $('[data-status="default"]', viesModal),
          '404': $('[data-status="404"]', viesModal)
        };

      function searchVies() {
        if (!searchForm.valid()) {
          return;
        }

        startSearchAnimation();
        hideErrors();

        var countryCode = $('#@countryCodeFieldId').val(),
          vatNumber = $('#@vatNumberFieldId').val();

        $.ajax({
          url: '@url',
          type: 'GET',
          data: {
            countryCode: countryCode,
            vatNumber: vatNumber
          }
        })
          .done(function (data, textStatus, jqXHR) {
            viesModal.trigger({ type: '@personInformationFoundEvent', personInformation: data});
            viesModal.modal('hide');
          })
          .fail(function (jqXHR, textStatus, errorThrown) {
            showErrors(jqXHR.status);
          })
          .always(function (data, textStatus, jqXHR) {
            stopSearchAnimation();
          });
      }

      function focusSearchVatNumber() {
        $('#@vatNumberFieldId').focus();
      }

      function resetModal() {
        searchForm[0].reset();
        stopSearchAnimation();
        hideErrors();
      }

      function startSearchAnimation() {
        searchIcon.removeClass('glyphicon-search').addClass('glyphicon-refresh glyphicon-spin-animate');
      }

      function stopSearchAnimation() {
        searchIcon.removeClass('glyphicon-refresh glyphicon-spin-animate').addClass('glyphicon-search');
      }

      function showErrors(status) {
        switch (status) {
          case 404:
            alertBox[status.toString()].show()
            break;
          default:
            alertBox['default'].show();
        }
      }

      function hideErrors() {
        for (var name in alertBox) {
          alertBox[name].hide();
        }
      }

      viesModal.on('shown.bs.modal', focusSearchVatNumber);
      viesModal.on('hidden.bs.modal', resetModal);
      searchForm.on('submit', function (event) { event.preventDefault(); searchVies(); return false; });
      searchButton.on('click', function (event) { event.preventDefault(); searchVies(); return false; });

  }(jQuery));
</script>
