@model Merp.Web.Site.Areas.Registry.Models.Person.ChangeContactInfoViewModel

@{
    ViewBag.Title = $"{Model.FirstName} {Model.LastName} - Change Contact Info";
}

<h2>@($"{Model.FirstName} {Model.LastName}")</h2>
<h4>Change Contact Info</h4>
<hr />


<form method="post" asp-controller="Person" asp-action="ChangeContactInfo" class="form-horizontal">

  @Html.AntiForgeryToken()
  <input type="hidden" asp-for="PersonId" />

  <div class="form-horizontal">

    <div class="form-group">
      <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
      </div>
    </div>

    <div class="form-group">
      <label asp-for="MobileNumber" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="MobileNumber" class="form-control" />
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
      </div>
    </div>

    <div class="form-group">
      <label asp-for="FaxNumber" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="FaxNumber" class="form-control" />
        <span asp-validation-for="FaxNumber" class="text-danger"></span>
      </div>
    </div>

    <div class="form-group">
      <label asp-for="WebsiteAddress" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="WebsiteAddress" class="form-control" />
        <span asp-validation-for="WebsiteAddress" class="text-danger"></span>
      </div>
    </div>

    <div class="form-group">
      <label asp-for="EmailAddress" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
      </div>
    </div>

    <div class="form-group">
      <label asp-for="InstantMessaging" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="InstantMessaging" class="form-control" />
        <span asp-validation-for="InstantMessaging" class="text-danger"></span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
      </div>
    </div>

  </div>
</form>
<div>
  <a href="@UrlBuilder.Registry.PersonInfo(Model.PersonId)">Back</a>
</div>

@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
