@inherits LayoutComponentBase

<PageTitle>Merp.Web.App</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Dense="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => ToggleDrawer())" />
        <MudText Typo="Typo.h5" Class="ml-3">MERP</MudText>
        <MudSpacer />
        <a href="https://github.com/mastreeno/Merp" target="_blank" style="color:#fff;">About</a>
    </MudAppBar>
    <MudDrawer @bind-Open="isDrawerOpen" ClipMode="DrawerClipMode.Always" Variant="DrawerVariant.Mini">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer Class="mt-4 px-8" MaxWidth="MaxWidth.False">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private bool isDrawerOpen = true;

    private void ToggleDrawer() => isDrawerOpen = !isDrawerOpen;
}