<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="checkVatBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ec.europa.eu/taxation_customs/vies/services/checkVatService" binding="basicHttpBinding" bindingConfiguration="checkVatBinding" contract="Vies.checkVatPortType" name="checkVatPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
