<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="checkVatBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ec.europa.eu/taxation_customs/vies/services/checkVatService" binding="basicHttpBinding" bindingConfiguration="checkVatBinding" contract="Vies.checkVatPortType" name="checkVatPort"/>
    </client>
  </system.serviceModel>
</configuration>
