@model Merp.Web.Site.Areas.Registry.Models.Company.AddEntryViewModel
@{
    ViewBag.Title = "Company Registration";
}
<h2>Company Registration</h2>
<hr />
<div class="row">
  <vc:company-add-entry model="@Model" mode="default" field-prefix=""></vc:company-add-entry>
</div>
<div class="row">
  <a href="/Registry">Back</a>
</div>
@section head{
  <environment names="Development">
    <link type="text/css" rel="stylesheet" href="~/lib/jquery-ui/themes/smoothness/jquery-ui.css" />
  </environment>
  <environment names="Staging,Production,OnPremises,AzureCosmosDB,AzureMongoDB,AzureCloudServices">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/themes/smoothness/jquery-ui.css"
            asp-fallback-src="~/lib/jquery-ui/themes/smoothness/jquery-ui.css"
            asp-fallback-test="window.jQuery">
    </script>
  </environment>
}
@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
  @{ await Html.RenderPartialAsync("_JqueryValidationBootstrapPartial"); }
  @{ await Html.RenderPartialAsync("_JqueryUIPartial"); }  
}