@model Merp.Web.Site.Areas.Registry.Models.Company.ChangeLegalAddressViewModel

@{
    ViewBag.Title = $"{Model.CompanyName} - Change Legal Address";
}

<h2>@Model.CompanyName</h2>
<h4>Change Legal Address</h4>
<hr />


<form method="post" asp-controller="Company" asp-action="ChangeLegalAddress" class="form-horizontal">

  @Html.AntiForgeryToken()
  <input type="hidden" asp-for="CompanyId" />

  @Html.EditorFor(model => model.LegalAddress)  

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="Save" class="btn btn-default" />
    </div>
  </div>

</form>

<div>
  <a href="@UrlBuilder.Registry.CompanyInfo(Model.CompanyId)">Back</a>
</div>
@section head{
}
@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
