@{
    ViewData["Title"] = "Home Page";
}

<div id='app-root'>
    <h1 class="text-lg-center">Loading...</h1>
</div>

@section scripts {
    <script src="/Home/GetJsEndpoints"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
